{
  "extends": [
    "ts-important-stuff",
    "plugin:prettier/recommended",
    "eslint:recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "overrides": [
    {
      "files": ["*.d.ts"],
      "rules": {
        "no-redeclare": "off"
      }
    }
  ]
}
